In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re

In [7]:
def remove_number(data):
    data_copy = np.array(data.copy())

    pattern = r'\d+'
    for i in range(len(data_copy)):
        data_copy[i] = re.sub(pattern, '', data_copy[i])

    return data_copy

In [ ]:
df_230215_total = pd.read_excel('~/study/DIC/DIC4/data/230215_total.xlsx')
df_230215_stable = pd.read_excel('~/study/DIC/DIC4/data/230215_stable.xlsx')

In [ ]:
df_230215_total = df_230215_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [ ]:
df_230215_total['label_org'] = df_230215_total['label_org'].fillna('NA')

In [ ]:
df_230215_merge = pd.merge(left=df_230215_total, right=df_230215_stable[['idx','label_new']], on='idx', how='left')

In [ ]:
df_230215_merge.label_org.unique()

In [ ]:
df_230215_merge.loc[df_230215_merge['label_new'].isna(),'안정화'] = 0
df_230215_merge.loc[~df_230215_merge['label_new'].isna(),'안정화'] = 1

In [ ]:
df_230215_merge.info()

In [ ]:
df_230215_merge.to_excel('~/study/DIC/DIC4/data/230215_data_concat.xlsx',index=False)

In [ ]:
df_230227_total = pd.read_excel('~/study/DIC/DIC4/data/230227_total.xlsx')
df_230227_stable = pd.read_excel('~/study/DIC/DIC4/data/230227_stable.xlsx')

In [ ]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230227_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [ ]:
df_230227_total = df_230227_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [ ]:
df_230227_total['label_org'] = df_230227_total['label_org'].fillna('NA')

In [ ]:
df_230227_merge = pd.merge(left=df_230227_total, right=df_230227_stable[['idx','label_new']], on='idx', how='left')

In [ ]:
df_230227_merge.loc[df_230227_merge['label_new'].isna(),'안정화'] = 0
df_230227_merge.loc[~df_230227_merge['label_new'].isna(),'안정화'] = 1

In [ ]:
df_230227_merge.label_org.unique()

In [ ]:
df_230227_merge.info()

In [ ]:
df_230227_merge.to_excel('~/study/DIC/DIC4/data/230227_data_concat.xlsx',index=False)

In [ ]:
df_230312_total = pd.read_excel('~/study/DIC/DIC4/data/230312_total.xlsx')
df_230312_stable = pd.read_excel('~/study/DIC/DIC4/data/230312_stable.xlsx')

In [ ]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230312_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [ ]:
df_230312_total = df_230312_total.dropna(axis='index',subset=['reg_date','label_org']).reset_index(drop=True)

In [ ]:
df_230312_merge = pd.merge(left=df_230312_total, right=df_230312_stable[['idx','label_new']], on='idx', how='left')

In [ ]:
df_230312_merge.loc[df_230312_merge['label_new'].isna(),'안정화'] = 0
df_230312_merge.loc[~df_230312_merge['label_new'].isna(),'안정화'] = 1

In [ ]:
df_230312_merge.info()

In [ ]:
df_230312_merge.to_excel('~/study/DIC/DIC4/data/230312_data_concat.xlsx',index=False)

In [ ]:
df_230320_total = pd.read_excel('~/study/DIC/DIC4/data/230320_total.xlsx')
df_230320_stable = pd.read_excel('~/study/DIC/DIC4/data/230320_stable.xlsx')

In [ ]:
# df_230227_stable.rename(columns={'Unnamed: 20':'label_new'},inplace=True)
df_230320_total.drop(labels='reg_date.1', axis='columns', inplace=True)

In [ ]:
df_230320_total = df_230320_total.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [ ]:
df_230320_total['label_org'] = df_230320_total['label_org'].fillna('NA')

In [ ]:
df_230320_merge = pd.merge(left=df_230320_total, right=df_230320_stable[['idx','label_new']], on='idx', how='left')

In [ ]:
df_230320_merge.loc[df_230320_merge['label_new'].isna(),'안정화'] = 0
df_230320_merge.loc[~df_230320_merge['label_new'].isna(),'안정화'] = 1

In [ ]:
df_230320_merge.info()

In [ ]:
df_230320_merge.to_excel('~/study/DIC/DIC4/data/230320_data_concat.xlsx',index=False)

In [4]:
df_5 = pd.read_excel('/home2/datapf/skim/230327_5.xlsx', sheet_name='추출값정리')
df_6 = pd.read_excel('/home2/datapf/skim/230328_6.xlsx', sheet_name='추출값정리')
df_7 = pd.read_excel('/home2/datapf/skim/230329_7.xlsx', sheet_name='추출값정리')

In [5]:
df_5.head()

,idx,temp,humi,reg_date,C7H8,TMA,VOC,CO2,HCHO,H2S,...,SO2,NO2,CO,sm_idx,sms,ou,reg_date.1,sm_kind,label_new,안정화
0,5529836.0,30.27405,2.551270,2023-03-27 13:29:51,0,0.000022,0.204428,372.6439,0,0.160832,...,0,0.012051,0.468287,1.0,1.50,0.0,2023-03-27 13:29:51,무취,NaN,0.0
1,5529837.0,30.29419,5.798340,2023-03-27 13:29:53,0,0.000024,0.2185,372.6439,0,0.220646,...,0,0.012051,0.584283,1.0,1.75,0.0,2023-03-27 13:29:53,무취,NaN,0.0
2,5529838.0,30.27405,9.143066,2023-03-27 13:29:54,0.000412,0.000024,0.231294,375.1008,0,0.273609,...,0,0.009734,0.602599,1.0,2.50,0.0,2023-03-27 13:29:54,무취,NaN,0.0
3,5529839.0,30.31433,10.711670,2023-03-27 13:29:55,0.001045,0.000023,0.231294,375.1008,0,0.305378,...,0.35748,0.005566,0.639229,3.0,2.50,0.0,2023-03-27 13:29:55,고무,NaN,0.0
4,5529840.0,30.40497,12.780760,2023-03-27 13:29:57,0.002432,0.000026,0.293865,254.7131,0,0.394329,...,0,0.002323,0.633124,9.0,1.75,0.0,2023-03-27 13:29:57,(음식)비린,NaN,0.0

In [7]:
df_5 = df_5.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)
df_6 = df_6.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)
df_7 = df_7.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [13]:
df_5.to_excel('/home2/jupyter-s.kim/study/DIC/DIC4/data/230327.xlsx')
df_6.to_excel('/home2/jupyter-s.kim/study/DIC/DIC4/data/230328.xlsx')
df_7.to_excel('/home2/jupyter-s.kim/study/DIC/DIC4/data/230329.xlsx')

In [2]:
df_8 = pd.read_excel('/home2/datapf/skim/230403.xlsx', sheet_name='추출값정리')
df_9 = pd.read_excel('/home2/datapf/skim/230404.xlsx', sheet_name='추출값정리')

In [3]:
df_8 = df_8.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)
df_9 = df_9.dropna(axis='index',subset=['reg_date']).reset_index(drop=True)

In [4]:
df_8.head()

,idx,temp,humi,reg_date,C7H8,TMA,VOC,CO2,HCHO,H2S,...,SO2,NO2,CO,sm_idx,sms,ou,reg_date.1,sm_kind,label_new,안정화
0,5565718.0,31.77460,2.740479,2023-04-03 13:11:53,0.015422,0.000049,0.447985,296.4803,0,0.101592,...,0,0.025021,1.420679,1.0,1.75,0.0,2023-04-03 13:11:53,무취,NA3,0.0
1,5565719.0,31.80481,5.682373,2023-04-03 13:11:54,0.02093,0.000052,0.434408,188.377,0,0.164008,...,0,0.021779,1.518361,1.0,1.75,0.0,2023-04-03 13:11:54,무취,NA3,0.0
2,5565720.0,31.87531,7.940674,2023-04-03 13:11:56,0.026964,0.000053,0.435199,156.4373,0,0.194188,...,0,0.021779,1.48173,1.0,1.75,0.0,2023-04-03 13:11:56,무취,NA3,0.0
3,5565721.0,31.92566,9.112549,2023-04-03 13:11:57,0.033227,0.000055,0.435991,157.9868,0,0.205307,...,0,0.018536,1.310788,1.0,1.75,0.0,2023-04-03 13:11:57,무취,NA3,0.0
4,5565722.0,31.97601,11.560060,2023-04-03 13:11:59,0.044821,0.000058,0.575836,247.3424,0,0.240253,...,0,0.018536,1.408469,1.0,2.00,0.0,2023-04-03 13:11:59,무취,NA3,0.0

In [5]:
df_8.to_excel('/home2/datapf/skim/DIC4/data/230403.xlsx')
df_9.to_excel('/home2/datapf/skim/DIC4/data/230404.xlsx')

균 type만 있는 학습용 데이터 만들기

In [9]:
exp_date = ['230312','230320','230327','230328','230329','230403','230404']
raw_usecols = ['idx', 'temp', 'humi', 'reg_date', 'C7H8', 'TMA', 'VOC', 'CO2', 'HCHO',
       'H2S', 'NH3', 'CH3SH', 'SO2', 'NO2', 'CO', 'sm_idx', 'sms', 'ou',
       'sm_kind', 'label_new', '안정화']

df = pd.DataFrame()
for d in exp_date:
    try:
        df_temp = pd.read_excel('~/skim/DIC4/data/{}_data_concat.xlsx'.format(d))
        df_temp['label_org'] = df_temp['label_org'].fillna('NA')
    except:
        df_temp = pd.read_excel('~/skim/DIC4/data/{}.xlsx'.format(d), usecols = raw_usecols)
        df_temp['label_new'] = df_temp['label_new'].fillna('NA')
    # print(df_temp.head())
    df = pd.concat([df,df_temp])
df.reset_index(inplace=True)
df.head()

,index,idx,temp,humi,reg_date,C7H8,TMA,VOC,CO2,HCHO,...,SO2,NO2,CO,sm_idx,sms,ou,sm_kind,label_org,label_new,안정화
0,0,5487210.0,26.79962,6.237793,2023-03-13 12:52:05,0.0,0.000026,0.192282,435.1554,0.0,...,0.050841,0.012979,0.323783,3.0,2.0,0.0,고무,2B,NaN,0.0
1,1,5487211.0,26.79962,22.082520,2023-03-13 12:52:06,0.0,0.000034,0.357748,431.6093,0.0,...,0.190711,0.0,0.29124,3.0,2.0,0.0,고무,2B,NaN,0.0
2,2,5487212.0,26.80969,32.678220,2023-03-13 12:52:08,0.0,0.000045,0.498292,326.9812,0.0,...,0.233748,0.0,0.230189,9.0,2.0,0.0,(음식)비린,2B,NaN,0.0
3,3,5487213.0,26.82983,42.065430,2023-03-13 12:52:09,0.000944,0.000057,0.728273,295.0207,0.0,...,0.176365,0.0,0.205769,9.0,2.0,0.0,(음식)비린,2B,161B,1.0
4,4,5487214.0,26.82983,48.205570,2023-03-13 12:52:10,0.00235,0.000073,1.036101,324.5227,0.79195,...,0.130409,0.0,0.150823,9.0,2.0,0.0,(음식)비린,2B,161B,1.0

In [10]:
# 안정화 NA값 1로 채우기(단순 누락인 것으로 보임)
df['안정화'].fillna(1, inplace=True)

In [11]:
# 5,6,7,8,9차는 label_org가 없으므로 label_new로 채워줌
df.loc[df['label_org'].isna(),'label_org'] = df['label_new']

In [12]:
# NA, PDA, 안정화 없애기
df = df.loc[~np.isin(df['label_org'],['PDA','안정화','NA'])]
# 6NA, 9NA 같은 NA처리
df = df.loc[~df['label_org'].str.contains('NA')]

In [13]:
# 종류 라벨 만들기

# ###### 세균 종류 ###### 
# df.loc[df['label_org'].str.contains('B'),'label_type'] = 'B' #바실러스
# df.loc[df['label_org'].str.contains('EN'),'label_type'] = 'EN' #엔트로코쿠스
# df.loc[df['label_org'].str.contains('MO'),'label_type'] = 'MO' #모라셀라
# df.loc[df['label_org'].str.contains('ME'),'label_type'] = 'ME' #메틸로박테리움

# ###### 곰팡이 종류 ###### 
# df.loc[df['label_org'].str.contains('A'),'label_type'] = 'A' #아스퍼질러스
# df.loc[df['label_org'].str.contains('C'),'label_type'] = 'C' #클라도스포리움

df['label_type'] = remove_number(df['label_org'])

In [14]:
df['label_type'].value_counts()

B     3792
ME    3493
MO    1166
EN    1087
A     1086
C     1003
Name: label_type, dtype: int64

In [15]:
# df.to_csv('df_type_total_230403.csv',index=False)
df.to_csv('df_type_total_230407.csv',index=False)